.header {
  @apply flex justify-between py-5 items-center border-b border-green-500
}

.header__shop {
  @apply flex items-center
}

.header_cart {
  @apply w-32
}

.header__cart {
  @apply flex items-center gap-2
}

.link_shop {
  @apply flex items-center cursor-pointer
}

.logo {
  position:relative;
  width: 45px;
  height: 40px;
}
.logo img {
  position:absolute;
  left: 0;
  top: 0;
}

.logo1 {
  opacity:0;
}
.logo:hover .logo1 {
  opacity:1;
}

.logo:hover .logo2, .logo .logo2:hover {
  opacity:0;
}

.title {
  @apply font-bold text-xl text-orange-800 pl-5
}

.cart_items {
  @apply bg-orange-800 w-6 h-6 rounded-full relative bottom-1 right-3 text-center text-white
}

.cart_price {
  @apply w-2
}
.cart_icon {
  @apply h-8 hover:fill-orange-800 transition duration-300
}
