.header {
  @apply flex justify-between py-2 tablet-big:py-5 items-center border-b border-green-500
}

.header__shop {
  @apply flex items-center
}

.header_cart {
  @apply w-32
}

.header__cart {
  @apply flex items-center gap-2
}

.link_shop {
  @apply flex items-center cursor-pointer
}

.logo {
  position:relative;
  width: 30px;
  height: 25px;
  margin-left: 70px;
  @media(min-width: 768px) {
    margin-left: 20px;
    width: 45px;
    height: 40px;
  }
}

.logo_footer {
  position:relative;
  width: 30px;
  height: 25px;
}

.logo img, .logo_footer img {
  position:absolute;
  left: 0;
  top: 0;
}

.logo1 {
  opacity:0;
}
.logo:hover .logo1, .logo_footer:hover .logo1 {
  opacity:1;
}

.logo:hover .logo2, .logo .logo2:hover, .logo_footer:hover .logo2, .logo_footer .logo2:hover {
  opacity:0;
}

.title {
  @apply font-bold text-xl text-orange-800 pl-3 hover:text-orange-600 transition duration-300 hidden tablet-big:block
}

.cart_items {
  @apply bg-orange-800 w-4 h-4 tablet-big:w-6 tablet-big:h-6 rounded-full relative bottom-1 right-3 text-center text-white text-xs tablet-big:text-base
}

.cart_price {
  @apply w-2 hover:text-gray-500 transition duration-300 hidden tablet-big:block
}
.cart_icon {
  @apply h-6 tablet-big:h-8 hover:fill-gray-500 transition duration-300
}

.media {
  @apply flex justify-between items-center border border-green-200 p-2 rounded-md w-8 h-8 cursor-pointer hover:scale-105 transition duration-300
}

.link_shop_footer {
  @apply mobile-1:hidden laptop:flex items-center cursor-pointer mobile-1:w-full laptop:w-1/4 mr-8 gap-3 hover:text-gray-700 transition duration-300
}
.link_shop_footer1 {
  @apply flex items-center cursor-pointer mobile-1:w-full laptop:w-1/5 mr-8 gap-3 hover:text-gray-700 transition duration-300
}

.footer3 {
  @apply text-gray-700 text-xs
}

.footerNowhere {
  @apply hover:text-gray-700 cursor-pointer transition duration-300
}

.rs {
  @apply w-16 hover:scale-105 transition duration-300
}

