@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-y-scroll
}
body::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}
body::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}
body::-webkit-scrollbar-thumb {
  background: #a5d6a7;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

body::-webkit-scrollbar-thumb:hover {
  background: #4caf50;
}

@layer components {
  #root {
    @apply m-auto text-base  font-ubuntu mobile-1:px-0 tablet-big:px-20
  }

  .backdrop {
    @apply fixed top-0 left-0 w-full h-screen z-10 bg-black opacity-70;
  }

  .order-form {
    @apply max-w-2xl m-auto p-4 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-gray-100 z-20 box-border;
  }

  .order-form input {
    @apply w-full
  }
  .form-fieldset {
    @apply mb-5;
  }

  .form-legend {
    @apply text-sm text-gray-500 mb-2;
  }

  .form-field {
    @apply flex flex-col gap-1 mb-2;
  }

  .form-label {
    @apply self-start;
  }

  .form-input {
    @apply border-gray-400 border-2 p-1 rounded outline-none;
  }

  .form-input_invalid {
    @apply border-red-400;
  }

  .form-input_valid {
    @apply border-green-500;
  }

  .form-alert {
    @apply text-gray-100 p-1 text-center;
  }

  .form-alert-error {
    @apply bg-red-400;
  }

  .form-alert-success {
    @apply bg-green-700;
  }

  .form-card-row {
    @apply flex justify-center items-center gap-2;
  }

  .form-card-image {
    @apply w-[156px] h-[128px] bg-no-repeat;
  }

  .submit-button {
    @apply text-center p-2 bg-green-600 w-full text-gray-50 disabled:bg-gray-400;
  }

  .feather {
    @apply w-[24px] h-[24px] stroke-current stroke-2 [stroke-linecap:round] [stroke-linejoin:round] fill-none;
  }

  .cart-icon {
    @apply stroke-gray-600 hover:stroke-green-700;
  }

  .footer {
    @apply w-full mt-10 px-20 py-5 flex justify-between items-center bg-gray-100
  }

  .item-card {
    @apply border p-5 rounded flex flex-col items-center transition duration-300 hover:shadow-md cursor-pointer;
  }

  .card-image {
    @apply relative flex justify-center items-center bg-transparent overflow-hidden;
  }

  .card-image-img {
    @apply relative w-full h-full object-contain opacity-0 transition-opacity duration-500;
  }

  .card-image-img.image-loaded {
    @apply opacity-100;
  }

  .card-image-placeholder {
    @apply absolute w-full h-full object-contain left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 opacity-100 transition-opacity duration-500;
  }

  .image-loaded ~ .card-image-placeholder {
    @apply opacity-0;
  }

  .breadcrumb {
    @apply hover:underline underline-offset-4 decoration-dashed;
  }

  .breadcrumb-separator {
    @apply text-gray-400;
  }

  .button {
    @apply px-4 py-2 w-48 border rounded-md transition-colors duration-300 text-center;
  }

  .button-add {
    @apply bg-green-500 text-gray-50 border-green-600 hover:bg-green-400 hover:border-green-500;
  }

  .button-delete {
    @apply bg-orange-800 text-gray-50 border-orange-800 hover:bg-orange-500 hover:border-orange-700;
  }

  .button-buy {
    @apply text-green-500 bg-white border-green-700 hover:bg-gray-50 hover:text-green-800 hover:border-green-900;
  }

  .button-details {
    @apply text-gray-50 bg-gray-500 hover:bg-gray-400 border-gray-600 hover:border-gray-500;
  }

  .filterPage {
    @apply flex flex-col gap-2
  }

  .filterBar {
    @apply flex justify-center items-center gap-10
  }

  .selectInput {
    font-size: 14px;
    display: block;
    color: rgb(97, 97, 97);
    line-height: 1.5;
    padding: .6em 1.4em .5em .8em; width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid rgb(193, 193, 193);
    border-radius: .4em;
     -moz-appearance: none;
     -webkit-appearance: none;
     appearance: none;
    outline-color: rgb(0, 171, 0);
    }
     .select-css::-ms-expand { display: none; }
     .select-css:hover { border-color: #888; }
     .select-css:focus { border-color: #aaa;
     box-shadow: 0 0 1px 3px rgba(59, 252, 75, 0.7);
     box-shadow: 0 0 0 3px -moz-mac-focusring;
    /* color: #222; */
     outline: none;
    }
     .select-css option { font-weight:normal; }
     *[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
    }
}


